<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>860030712047-4r3ifbuotpuf0gada5si9qros0ludfhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860030712047-4r3ifbuotpuf0gada5si9qros0ludfhl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860030712047-ch8k22mua8hed3ikhivgj34qllh763d8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZc3gJS2mx32KFByk1Y8wv6kvllDECoBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>860030712047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.na0826</string>
	<key>PROJECT_ID</key>
	<string>na0826-notificatoins</string>
	<key>STORAGE_BUCKET</key>
	<string>na0826-notificatoins.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860030712047:ios:9e54236f1937337272431a</string>
</dict>
</plist>
